/* line 7, /Users/Sarah/Desktop/exercise-2-scss/scss/components/_main.scss */
h1, h2 {
  text-align: center; }

/* line 13, /Users/Sarah/Desktop/exercise-2-scss/scss/components/_main.scss */
h1 {
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 700; }

/* line 19, /Users/Sarah/Desktop/exercise-2-scss/scss/components/_main.scss */
h2 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 2px; }
